@import "styles/Button.css";
@import "styles/Checkbox.css";
@import "styles/Radio.css";

@font-face {
  font-family: 'Oswald-Regular';
  src: url('../assets/fonts/Oswald/Oswald-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Oswald-Medium';
  src: url('../assets/fonts/Oswald/Oswald-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Oswald-Bold';
  src: url('../assets/fonts/Oswald/Oswald-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Oswald-Light';
  src: url('../assets/fonts/Oswald/Oswald-Light.ttf') format('truetype');
}

:root {
  --dark: #1A1A1A;
  --bright: #DCC9A9;
  --white: #FFFFFF;
  --error: #AC5045;
  --success: #658761;

  --main-font: 'Oswald-Bold';
  --thin-font: 'Oswald-Regular';
  --medium-font: 'Oswald-Medium';
  --light-font: 'Oswald-Light';

  --border-width: 3px;
}

.App {
  margin: 30px;
  font-family: var(--main-font), sans-serif;
}

h1 {
  font-family: var(--medium-font), sans-serif;
  font-size: 96px;
  margin: 0;
}
h2 {
  font-family: var(--medium-font), sans-serif;
  font-size: 64px;
  margin: 0;
}
h3 {
  font-family: var(--medium-font), sans-serif;
  font-size: 48px;
  margin: 0;
}
h4 {
  font-family: var(--medium-font), sans-serif;
  font-size: 32px;
  margin: 0;
}
p {
  font-family: var(--light-font), sans-serif;
  font-size: 24px;
  margin: 0;
}

body {
  background-color: var(--bright);
}
