@import "styles/Button.css";
@import "styles/Checkbox.css";
@import "styles/Radio.css";
@import "styles/Input.css";
@import "styles/Modal.css";
@import "styles/ResultBar.css";

@font-face {
  font-family: 'Oswald-Regular';
  src: url('../assets/fonts/Oswald/Oswald-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Oswald-Medium';
  src: url('../assets/fonts/Oswald/Oswald-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Oswald-Bold';
  src: url('../assets/fonts/Oswald/Oswald-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Oswald-Light';
  src: url('../assets/fonts/Oswald/Oswald-Light.ttf') format('truetype');
}

:root {
  --dark: #1A1A1A;
  --bright: #DCC9A9;
  --white: #FFFFFF;
  --error: #AC5045;
  --success: #658761;
  --gray: #A0A0A0;

  --main-font: 'Oswald-Bold';
  --thin-font: 'Oswald-Regular';
  --medium-font: 'Oswald-Medium';
  --light-font: 'Oswald-Light';

  --border-width: 3px;
}

.App {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0 10px 0 10px;
  font-family: var(--main-font), sans-serif;
  gap: 15px;
  max-width: 1024px;
}

h1 {
  font-family: var(--medium-font), sans-serif;
  overflow-wrap: break-word;
  font-size: clamp(28px, 10vw, 64px);
  margin: 0;
}
h2 {
  font-family: var(--medium-font), sans-serif;
  font-size: clamp(24px, 10vw, 48px);
  margin: 0;
}
h3 {
  font-family: var(--medium-font), sans-serif;
  font-size: 32px;
  margin: 0;
}
h4 {
  font-family: var(--medium-font), sans-serif;
  font-size: 26px;
  margin: 0;
}
p {
  font-family: var(--light-font), sans-serif;
  font-size: 24px;
  margin: 0;
}

body {
  background-color: var(--bright);
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

.roundedFrame {
  border-color: var(--dark);
  border-style: solid;
  border-width: calc(var(--border-width) * 2);
  border-radius: 10px;

  padding: 0 15px 15px 15px;
}

.line {
  background-color: var(--dark);
  height: var(--border-width);
  width: 100%;
  margin: 10px 0 10px 0;
}
